
body {
	color: #ffffff;
	font-size: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	margin: 0px;
	background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
	font-weight:700;
	font-size:24px;
	line-height:30px;
}

h2 {
	font-weight:700;
	font-size:20px;
	line-height:24px;
}

.hidden {
	display:none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn-common {
	display:block;
	background-image: linear-gradient(to top, #e74b36, #f26843);
	box-shadow:0px 1px 3px 0px #ac1000;
	border-radius:35px;
	color:#ffffff;
	font-weight:700;
	text-decoration:none;
	text-align:center;
	padding:14px 21px;
}

.btn-common:hover {
	background-image: linear-gradient(to top, #ec6f5e, #f58569);
}

.btn-common:active {
	box-shadow:inset 0px 1px 3px 0px #ac1000;
	background-image: linear-gradient(to top, #f26843, #e74b36);
}

a {
	position:relative;
	text-decoration:none;
}

.header-menu li > a::before,
.header-navigation li a::before,
.hits-item a:first-of-type::before,
.info-links li a::after,
.footer-copyright p a::before {
	content:"";
	position:absolute;
	height:1px;
	background-color:rgba(255,255,255, .4);
}

.header-menu li > a::before {
	bottom:8px;
	right:13px;
	left:13px;
}

.header-navigation li a::before {
	bottom:-1px;
	right:0px;
	left:0px;
}

.info-links li a::after {
	bottom:-1px;
	right:0px;
	left:0px;
}

.footer-copyright p a::before {
	bottom:-1px;
	right:0px;
	left:0px;
}

.header-navigation li a:hover::before {
	background-color:#ffbc9e;
}


.info-links li a:hover::after {
	background-color:#ffbc9e;
}

.footer-copyright p a:hover::before{
	background-color:#ffbc9e;
}

.page-wrapper {
	background:#849d8f url("../img/index_background_icecream_2.png") no-repeat top center;
	min-width:900px;
}

.page-wrapper:before,
.page-wrapper:after {
  content: "";
  visibility: hidden;
}

.page-wrapper:before,
.page-wrapper:after {
  background-image: url("../img/index_background_icecream_1.png");
}

.page-wrapper:after {
  background-image: url("../img/index_background_icecream_3.png");
}

.wrapper {
	min-width:900px;
	max-width:1200px;
	padding: 0 1.7%;
	margin:auto;
	box-sizing: border-box;
}

.header-logo {
	float:left;
	width:154px;
	height:35px;
}

.header-logo img {
	transform:translateX(-5px);
}

.header-menu {
	position:relative;
	float:left;
	min-width:320px;
	font-size:0px;
	margin:0px;
	padding-left:9px;
}

.header-menu > li {
	display:inline-block;
	vertical-align:top;
	margin-right:1px;
	padding-top:12px;
	font-size:1rem;
}

.header-menu > li:last-child {
	margin-right:0px;
}


.header-menu a {
	display:inline-block;
	color:#ffffff;
	font-weight:500;
	border-radius:20px;
	font-size:16px;
	line-height:24px;
	padding: 5px 13px 6px 14px;
}

.header-menu a:hover {
	background-color:#ffffff;
	color:#000000;
	text-decoration:none;
}

.header-menu a:active {
	background-color:#ffffff;
	color:#000000;
	text-decoration:none;
	box-shadow:inset 0px 1px 1px 1px #696969;
}

.menu-catalog {
	display:none;
	position:absolute;
	list-style:none;
	margin:0px;
	padding:5px 0px;
	left:8px;
	width:143px;
	background:#ffffff;
	border-radius:5px;
	box-shadow: 0px 15px 40px -10px #373737; 
	z-index:200;
}

.header-menu li:hover .menu-catalog {
	display:block;
}

.menu-catalog li:first-child a {
	position:relative;
	font-weight:bold;
}

.menu-catalog li:first-child a::before {
	content:"";
	position:absolute;
	height:1px;
	width:127px;
	background:#d1d0ce;
	bottom:0px;
	left:8px;
}

.menu-catalog li a{
	display:block;
	padding:10px 10px 10px 20px;
	background-color:#ffffff;
	color:#000000;
	text-decoration:none;
	font-size:14px;
	line-height:20px;
	border-radius:0px;
	font-size:14px;
	font-weight:normal;
}

.menu-catalog li a:hover{
	background-color:#fbded7;
}

.menu-catalog li a:active{
	background-color:#f6b5a5;
	box-shadow:none;
}

.menu-catalog li .active {
	background-color:#d07058;
	color:#ffffff;
	cursor:default;
}

.menu-catalog li .active:hover {
	background-color:#d07058;
	color:#ffffff;
	cursor:default;
}

.menu-catalog li .active::before {
	background:none;
}


.header-userblock {
	float:right;
	min-width:270px;
	font-size:0px;
	padding-top:12px;
	text-align:right;
}

.header-userblock > div, 
.header-userblock > a {
	display:inline-block;
	vertical-align:top;
	font-size:1rem;
	position:relative;
	text-align:right;
}

.userblock-searchblock {
	position:relative;
	cursor:pointer;
}

.userblock-searchblock::before {
	content:"";
	position:absolute;
	width:33px;
	height:33px;
	border-radius:20px;
	background:rgba(255,255,255, 0.2);
}

.userblock-searchblock::after {
	content:"";
	position:absolute;
	z-index:50;
	left:9px;
	top:9px;
	width:33px;
	height:33px;
	background:url(../img/common_header_magnifier.svg) no-repeat;
}

.userblock-searchblock:hover::before {
	background-color:#ffffff;
}

.userblock-searchblock:active::before {
	background-color:#ffffff;;
}

.userblock-searchblock:hover::after {
	background: url(../img/common_header_magnifier_black.svg) no-repeat;
} 

.userblock-searchblock:hover .userblock-searchform {
	display:block;
}

.userblock-searchform {
	display:none;
	position:absolute;
	padding:15px;
	border-radius: 5px;
	background:#ffffff;
	z-index:100;
	top:37px;
	left:-275px;
	box-shadow: 0px 15px 40px -10px #373737; 
}

.userblock-searchform input {
	padding:12px;
	min-width:280px;
	border:1px solid #d3d3d2;
	border-radius: 5px;
}

.userblock-loginblock {
	margin-left:43px;
}

.userblock-loginblock > a {
	display:block;
	padding:6px 16px 6px 40px;
	background-color:rgba(255,255,255, 0.2);
	border-radius:20px;
	color:#ffffff;
	text-decoration:none;
}

.userblock-loginblock > a::before {
	content:"";
	position:absolute;
	z-index:50;
	left:15px;
	top:7px;
	width:33px;
	height:33px;
	background:url(../img/common_header_login.svg) no-repeat;
}

.userblock-loginblock:hover > a,
.userblock-cartblock:hover > a {
	background-color:#ffffff;
	color:#000000;
}


.userblock-loginblock:hover > a::before {
	background:url(../img/common_header_login_black.svg) no-repeat;
}

.userblock-loginblock:hover .userblock-loginform {
	display:block;
}

.userblock-loginblock > a:active,
.userblock-cartblock > a:active{
	background-color:#ffffff;
	color:#000000;
	box-shadow:inset 0px 1px 1px 1px #696969;
}

.userblock-loginform {
	display:none;
	position:absolute;
	width:273px;
	padding:20px 16px 20px;
	background:#ffffff;
	box-sizing:border-box;
	border-radius:5px;
	left:-170px;
	top:37px;
	z-index:100;
	box-shadow: 0px 15px 40px -10px #373737; 
}

.userblock-loginform input[type="email"],
.userblock-loginform input[type="password"] {
	padding:12px;
	border:1px solid #d3d3d2;
	border-radius: 5px;
	width:100%;
	box-sizing:border-box;
	margin-bottom:12px;
}

.userblock-loginform .loginform-btn{
	border:none;
	float:left;
	text-align:right;
	vertical-align:top;
	font-size:inherit;
	font-family:inherit;
	line-height:inherit;
	padding:9px 25px;
}

.loginform-links {
	text-align:left;
	float:right;
	font-size:0px;
	width:135px;
}

.loginform-links a {
	position:relative;
	display: inline-block;
	vertical-align: top;
}

.loginform-links a:nth-child(1n) {
	background:none;
	padding:0px;
	color:#000000;
	font-size:13px;
	font-family:inherit;
	line-height:20px;
}

.loginform-links a:hover {
	color:#ec593c;
}

.loginform-links a::before {
	content:"";
	position:absolute;
	height:1px;
	background-color:#000000;
	bottom:3px;
	right:0px;
	left:0px;
}

.loginform-links a:hover::before {
	background-color:#ec593c;
}


.userblock-cartblock {
	margin-left:10px;
	position:relative;
}

.userblock-cartblock > a {
	display:block;
	max-width:118px;
	padding:6px 10px 6px 42px;
	background-color:rgba(255,255,255, 0.2);
	border-radius:20px;
	color:#ffffff;
	text-decoration:none;
}

.userblock-cartblock > a::before {
	content:"";
	position:absolute;
	z-index:50;
	left:15px;
	top:7px;
	width:33px;
	height:33px;
	background:url(../img/common_header_cart.svg) no-repeat;
}

.userblock-cartblock:hover > a::before {
	background:url(../img/common_header_cart_full.png) no-repeat;
}

.userblock-cartblock:hover .userblock-cart {
	display:block;
}

.userblock-cart {
	position:absolute;
	display:none;
	width:540px;
	padding:20px 15px;
	border-radius:5px;
	background:#ffffff;
	color:#000000;
	box-shadow: 0px 15px 40px -10px #373737; 
	top:36px;
	left:-440px;
}

.cart-table {
	border-collapse:collapse;
}

.cart-table td {
	padding:6px;
	color:#333333;
	font-size:13px;
	line-height:20px;
	text-align:left;
	max-width:250px;
}

.cart-table td:last-of-type {
	text-align:right;
	padding-left:25px;
}

.cart-table a:first-child {
	display:block;
	width:15px;
	height:15px;
	background:url(../img/Х.svg) no-repeat center;
}

.cart-table tr td:nth-child(2){
	width:33px;
	height:33px;
	background:url(../img/index_cart_item1.png) no-repeat center;
}

.cart-table tr:nth-of-type(2) td:nth-child(2) {
	background:url(../img/index_cart_item2.png) no-repeat center;
}

.cart-total {
	padding-top:16px;
	border-top:1px solid #cacac7;
}

.cart-button {
	float:right;
	padding:9px 22px;
}


.header-telephone {
	float:right;
	width:50%;
	text-align:right;
	color:#ffffff;
}

.header-telephone .hours {
	font-size:14px;
	line-height:20px;
}

.header-telephone .number {
	font-size:22px;
	line-height:30px;
	font-weight:bold;
}

.slider {
	position:relative;
	margin-top:272px;
	text-align:center;
	color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom:30px;
  font-weight: 800;
  font-size: 60px;
	line-height:60px;
}

.slide-button {
	display:inline-block;
	padding: 12px 41px 12px 37px;
	font-size:32px;
	line-height:40px;
	text-align:center;
	margin:auto;
	margin-bottom:40px;
	text-shadow:0px 1px 3px #a0200b;
	cursor:pointer;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#btn-1:checked ~ .page-wrapper #slide1,
#btn-2:checked ~ .page-wrapper #slide2,
#btn-3:checked ~ .page-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index_background_icecream_2.png");
}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index_background_icecream_1.png");
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
	background-image:
  url("../img/index_background_icecream_3.png");
}

#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-controls label:hover {
	background-color: rgba(255,255,255, 0.5);
}


.main-upperbanners {
	margin-bottom:40px;
}

.upperbanner-common {
	position:relative;
	width:48.85%;
	color:#ffffff;
	min-height:229px;
	border-radius:15px;
	background-position:center;
}

.banner-header {
	font-size:35px;
	font-weight:bold;
	margin-bottom:18px;
	padding-top:13px;
	padding-left:18px;
	padding-right:20px;
}

.banner-paragraph {
	margin-bottom:40px;
	padding-left:18px;
	padding-right:20px;
	font-weight:500;
	font-size:18px;
	line-height:21px;
}

.banner-button {
	position:absolute;
	text-align:center;
	right:20px;
	bottom:23px;
	font-weight:500;
	font-size:18px;
	line-height:21px;
	padding-top:12px;
	padding-bottom:12px;
}

.main-left-banner {
	float:left;
	background:#880c32 url("../img/index_upperbanner_left.png") no-repeat;
	background-position:left;
}

.main-right-banner {
	float:right;
	background:#6c4536 url("../img/index_upperbanner_right.png") no-repeat;
	background-position:left;
}

.main-hits {
	font-size:0px;
	margin-bottom:40px;
}

.hits-item {
	font-size:1rem;
	display:inline-block;
	position:relative;
	width:23.24%;
	vertical-align:top;
	margin-right:2.3%;
	text-align:center;
}

.hits-item a {
	position:relative;
	display:inline-block;
	line-height:22px;
	padding-top:10px;
	color:#ffffff;
	text-decoration:underline;
}

.hits-item a:hover {
	text-decoration:none;
}

.hits-item:last-child {
	margin-right:0px;
}

.hits-item::before {
	content:"";
	position:absolute;
	width:61px;
	height:61px;
	background:transparent url(../img/index_git_logo.png) no-repeat;
	left:-1px;
}

.hit-price {
	position:absolute;
	font-weight:700;
	font-size:45px;
	line-height:45px;
	bottom:25px;
	text-shadow:1px 1px 3px #7f7f7f;
}

.hit-price span {
	font-size:30px;
	line-height:30px;
}

.hit-price p {
	display:inline-block;
}

.hit-price p::after {
	display:inline-block;
	content:"";
	width:35px;
	height:42px;
	vertical-align:top;
	background:url(../img/common_logo_rouble-1.svg) no-repeat ;
	background-position:bottom;
}

.main-about {
	padding:11px 11px 8px 21px;
	margin-bottom:40px;
	font-size: 0px;
	max-height: 373px;
	background:#efe5cf url("../img/index_about_background.jpg");
	color:#323232;
	border-radius:15px;
}

.main-about h1 {
	margin-top:13px;
}

.main-about h1 span {
	margin-right:5px;
}


.main-about ul {
	padding:0px;
	margin:0px;
	font-size:0px;
}

.main-about li {
	display: inline-block;
	position:relative;
	vertical-align:top;
	font-size:1rem;
	font-weight:400;
	line-height:21px;
	width: 48%;
	padding-left: 56px;
	margin-top:5px;
	margin-bottom: 20px;
  box-sizing:border-box;
}

.main-about li:nth-child(2n) {
	padding-left: 85px;
	width: 51%;
}

.main-about li::before {
	content:"";
	position:absolute;
	z-index:50;
	left:0px;
	top:-13px;
	width:50px;
	height:50px;
	background:url(../img/index_about_icon_icecream.svg) no-repeat;
}

.main-about li:nth-child(2)::before {
	background:url(../img/index_about_icon_cow.svg) no-repeat;
	left:30px;
}

.main-about li:nth-child(3)::before {
	background:url(../img/index_about_icon_leaf.svg) no-repeat;
}

.main-about li:nth-child(4)::before {
	background:url(../img/index_about_icon_termometer.svg) no-repeat;
	left:30px;
}

.main-lowerbanners {
	margin-bottom:40px;
}

.lowerbanner-common {
	width:48.85%;
	border-radius:15px;
	min-height:220px;
	box-sizing:border-box;
}

.lowerbanner-common p {
	color:#5a5a5a;
}

.main-news {
	float:left;
	background:#ffffff url("../img/index_lowerbanner_left_background.jpg") no-repeat;
	background-position:right;
}

.main-news p:first-child {
	padding-top:7px;
	margin-bottom:7px;
}

.main-news p:last-child {
	margin-top:0px;
	padding-top:0px;
}


.main-news p {
	color:#353535;
	margin-left:20px;
}

.main-news p a span {
	font-size:24px;
	font-weight:700;
	line-height:29px;
	color:#353535;
	background:rgba(255, 255, 255, .8);
	display:inline-block;
	text-decoration:underline;
	padding-right:10px;
	margin-right:100px;
}

.main-news p a:hover span {
	color:#ec593c;
}

.main-distrib {
	padding:5px;
	float:right;
	background:#ffffff url("../img/index_lowerbanner_right_background.png");
}

.distrib-inner {
	background:#ffffff;
	border-radius:15px;
	box-sizing:border-box;
	position:relative;
	min-height:210px;
}

.main-distrib p {
	padding:28px 18px 96px 21px;
	margin:0px;
	line-height:22px;
}

.distrib-formpart {
	position:absolute;
	box-sizing:border-box;
	margin-left:20px;
	margin-right:20px;
	width:95%;
	padding-right:166px;
	bottom:37px;
}

.distrib-formpart input[type="email"] {
	padding-top:13px;
	padding-left:9px;
	padding-bottom:11px;
	font-size:16px;
	border:1px solid #d3d3d2;
	border-radius:5px;
	width:100%;
}

.main-distrib .disturb-button {
	position:absolute;
	border:none;
	font-family:inherit;
	font-size: 17px;
	font-weight:500;
	padding:12px 22px;
	line-height:20px;
	right:12px;
	bottom:0px;
}

.main-map {
	position:relative;
	margin:0 auto;
	min-width:900px;
	box-sizing:border-box;
	height:430px;
	padding-right:2%;
	padding-top:65px;
	padding-bottom:59px;
	background:#ffffff url("../img/map.png") no-repeat;
	background-size:100% 100%;
}

/*
.main-map::before {
	position:absolute;
	content:"";
	width:450px;
	height:450px;
	left:265px;
	top:140px;
	background:transparent url("../img/index_map_pin.png") no-repeat;
}
*/

.map-infoblock {
	position:absolute;
	max-width:302px;
	padding: 24px 26px 30px;
	background:#ffffff;
	box-sizing:border-box;
	border-radius:15px;
	left:67.5%;
	transform:translateX(5%s);
	top:65px;
	

}

.map-infoblock p {
	padding:0px;
	margin:5px 0px;
	padding-right:40px;
	font-size:14px;
	color:#343434;
	line-height:20px;
	font-weight:500;
}

.map-infoblock p:first-child {
	margin-bottom:1px;
}

.map-infoblock p:nth-of-type(2n) {
	font-size:18px;
	font-weight:700;
	line-height:24px;
	padding-right:20px;
}

.map-infoblock p:nth-of-type(2) {
	margin-top:0px;
	margin-bottom:18px;
}

.map-infoblock p:nth-of-type(4) {
	margin-bottom:0px;
}

.map-infoblock p:nth-of-type(5) {
	margin-top:0px;
}


.map-feedbackform {
	margin-top:25px;
	padding:12px 22px;
	font-size:17px;
	font-weight:600;
}

footer {
	clear:both;
	min-height:103px;
	padding-top:12px;
	color:#ffffff;
	font-weight:400;
}

footer a {
	color:#ffffff;
	font-weight:400;
}

.footer-copyright {
	float: right;
	width: 200px;
	font-size: 12px;
	margin-top:6px;
}

.footer-copyright > a {
	padding-left:11px;
}

.footer-copyright > p {
	padding:0px;
	margin-top:4px;
	padding-left:9px;
}

.footer-social {
	float:left;
	width:200px;
	padding-top:23px;
	font-size:0px;
}

.social-btn {
	display:inline-block;
	vertical-align:top;
	font-size:0px;
	text-decoration:none;
	background:url(../img/index_footer_social_icon_tw.svg) no-repeat;
	background-size: 31px 31px;
	border:3px solid rgba(255, 255, 255, .4);
	border-radius:50%;
	width:31px;
	height:31px;
	margin-right:10px;
	margin-left:2px;
}

.social-btn:hover {
	border:3px solid rgba(255, 255, 255, .6);
}

.social-btn:active {
	border:3px solid rgba(255, 255, 255, .6);
	box-shadow:inset 0px 3px 1px 0px #888888;
}


.social-btn:nth-child(2) {
	background:url(../img/index_footer_social_icon_inst.svg) no-repeat;
}

.social-btn:nth-child(3) {
	background:url(../img/index_footer_social_icon_fb.svg) no-repeat;
}

.social-btn:last-child {
	background:url(../img/index_footer_social_icon_vk.svg) no-repeat;
	margin-right:0;
}

.footer-info {
  margin: 0;
  margin-left: 220px;
  margin-right: 220px;
	padding-top:20px;
}

.footer-info a {
	font-size:13px;
	position:relative;
	display:inline-block;
}

.info-links {
	width:400px;
	margin:auto;
	font-size:0px;
	text-align:left;
}

.info-links li {
	padding-left:30px;
	padding-bottom:3px;
	width:134px;
	font-size:1rem;
	display:inline-block;
	vertical-align: center;
	text-align:left;
}

.info-links li:nth-of-type(2n) {
	padding-left:10px;
}

.info-links li:first-child a::before {
	content:"";
	position:absolute;
	width:20px;
	height:20px;
	left:-20px;
	bottom:-7px;
	background: url(../img/index_footer_info_icon_heart.svg) no-repeat;
}

.info-links li:last-child {
	width:auto;
}

.info-links a:hover,
.footer-copyright a:hover{
	color:#ffbc9e;
}



/*...................catalog.html..........................*/


.catalog {
		background-color:#849d8f;
		background-image: linear-gradient(to bottom, #9db1a5 100px, #849d8f 600px);
		margin:auto;
}

.catalog a {
	color:#ffffff;
}

.catalog .wrapper {
	box-sizing:padding-box;
}

.header-menu .current {
	background-color:#d07058;
	border-radius:20px;
	text-decoration: none;
}

.header-menu .current:hover {
	cursor:default;
	background-color:#d07058;
	color:#ffffff;
}

.header-menu .current::before {
	background:none;
}

.header-top {
	padding-top:10px;
	margin-bottom:13px;
} 

.header-navigation {
	float:left;
	width:50%;
	font-size:0px;
	padding:0px;
	margin:0px;
}

.header-navigation li {
	display:inline-block;
	margin-right:8px;
	font-size:14px;
	font-weight:300;
	padding-top:27px;
	line-height:20px;
	vertical-align:top;
}

.header-navigation a:hover {
	color:#ffbc9e;
}

.main-header {
	font-size:35px;
	line-height:30px;
	margin-top:5px;
	margin-bottom:28px;
}

.main-upperfilter,
.main-lowerfilter {
	font-size:14px;
	line-height:18px;
}

.main-upperfilter {
	margin-bottom:15px;
}

.main-lowerfilter {
	margin-bottom:40px;
}

.filter-sorting {
	float:left;
	width:193px;
	height:60px;
	margin-right:15px;
}

.filter-sorting label {
	margin-left:16px;
	font-weight:400;
}

.sorting-block {
	position:relative;
}

.sorting-block select{
	margin-top:6px;
	background:#aabab0;
	border-radius:50px;
	color:#ffffff;
	border:none;
	padding:8px 33px 8px 15px;
	font-family:inherit;
	font-size:16px;
	line-height:20px;
	-moz-appearance:none;
	-webkit-appearance:none;
}

.sorting-block::before {
	position:absolute;
	content:"";
	background:url(../img/catalog_filter_marker.svg) no-repeat;
	width:10px;
	height:10px;
	right:10px;
	bottom:9px;
}

.sorting-block:hover select{
	background-color:#ffffff;
	color:#000000;
	cursor:pointer;
}

.sorting-block:hover::before {
	background:url(../img/catalog_filter_marker_black.svg) no-repeat;
}

.filter-price {
	float:left;
	width:219px;
	height:60px;
	margin-right:15px;
}

.filter-price span {
	font-weight:400;
	margin-left:16px;
}

.filter-price input[type="text"] {
	width:27px;
	background:transparent;
	border:none;
	color:#ffffff;
	font-size:inherit;
	line-height:inherit;
	font-weight:400;
}

.filter-price input[type="text"]:hover {
	border:none;
}

.price-range {
	position:relative;
	margin-top:4px;
	width:219px;
	height:36px;
	background:rgba(255,255,255, .2);
	border-radius:50px;
	color:#ffffff;
}

.price-range .range-scale {
	position:absolute;
	width:189px;
	height:4px;
	background:rgba(255,255,255, .4);
	left:15px;
	bottom:16px;
}

.range-scale .scale-active {
	position:absolute;
	width:79px;
	height:100%;
	background:rgba(255,255,255, 1);
	left:40px;
}

.price-range::before {
	position:absolute;
	content:"";
	border-radius:50%;
	width:20px;
	height:20px;
	background-color:rgba(255,255,255, 1);
  left: 35px;
  bottom: 8px;
	z-index:50;
}

.price-range::after {
	position:absolute;
	content:"";
	border-radius:50%;
	width:20px;
	height:20px;
	background-color:rgba(255,255,255, 1);
  right: 66px;
  bottom: 8px;
	z-index:50;
}

.price-range::before,
.price-range::after {
	cursor:pointer;
}

.filter-fatness {
	float:left;
	width:415px;
	height:60px;
}

.filter-fatness span {
	font-weight:400;
	margin-left:16px;
}


.fatness-block {
	background:rgba(255,255,255, .2);
	border-radius:20px;
	font-size:16px;
	font-weight:400;
	margin-top:6px;
	padding:9px 10px 9px 16px;
	
}

.fatness-block input[type="radio"] {
	display:none;
}

.fatness-block label {
  position:relative;
	padding-left:32px;
	margin-right:13px;
	font-weight:400;
	cursor:pointer;
}

.fatness-block label:last-child {
	margin-right:0px;
}

input[type="radio"] + label::before {
	position:absolute;
	content:"";
	width:18px;
	height:18px;
	border:1px solid #ffffff;
	border-radius:50%;
	left:0px;
	bottom:-1px;
}

input[type="radio"]:checked + label::before {
	position:absolute;
	content:"";
	width:11px;
	height:11px;
	padding:4px;
	background-color:#ffffff;
	background-clip:content-box;
	border:1px solid #ffffff;
	border-radius:50%;
	left:0px;
	bottom:-1px;
}

.filter-fillness {
	float:left;
	width:702px;
}

.filter-fillness span {
	margin-left:16px;
}

.fillness-block input[type="checkbox"] {
	display:none;
}
	
input[type="checkbox"] + label {
	position:relative;
	cursor:pointer;
}
	
input[type="checkbox"] + label::before {
	position:absolute;
	content:"";
	width:18px;
	height:18px;
	border:1px solid #ffffff;
	left:0px;
	bottom:-1px;
	border-radius:5px;
}

input[type="checkbox"]:checked + label::after {
	position:absolute;
	content:"";
	width:20px;
	height:20px;
	background: url(../img/catalog_filter_checkbox.svg) no-repeat;
	left:0px;
	bottom:-1px;
	border-radius:5px;
}

input[type="checkbox"] + label:hover::before {
	border:2px solid #ffffff;
	left:-1px;
	bottom:-2px;
}


input[type="radio"] + label:hover::before {
	width:11px;
	height:11px;
	padding:3px;
	border:2px solid #ffffff;
	left:0px;
	bottom:-1px;
}

input[type="radio"] + label:disabled::before,
input[type="checkbox"] + label:disabled::before {
	border:1px solid #ffffff;
	left:0px;
	bottom:-1px;
}

input[type="radio"] + label:disabled::before,
input[type="radio"]:checked + label:disabled::after,
input[type="checkbox"] + label:disabled::before, 
input[type="checkbox"]:checked + label:disabled::after {
	opacity:0.5;
}

.fillness-block {
	margin-top:6px;
	background:rgba(255,255,255, .2);
	border-radius:50px;
	color:#ffffff;
	border:none;
	padding:9px 10px 9px 16px;
	font-family:inherit;
	font-size:16px;
	font-weight:400;
}
	
.fillness-block label {
	padding-left:32px;
	margin-right:18px;
	font-weight:400;
}

.fillness-block label:last-child {
	margin-right:10px;
}

.filter-btn {
	margin-left:14px;
	float:left;
	margin-top:24px;
	padding:7px 28px 7px 28px;
	border:2px solid #f5f6f5;
	background:rgba(255,255,255, .2);
	border-radius: 20px;
	background-clip:padding-box;
	font-family:inherit;
	font-size:16px;
	font-weight:400;
	color:#ffffff;
	cursor:pointer;
	text-decoration:none;
}

.filter-btn:hover {
	background-color:#ffffff;
	color:#000000;
} 

.filter-btn:active{
	background-color:#ffffff;
	color:#000000;
	box-shadow:inset 0px 1px 4px 0px #000000;
	border:2px solid transparent;
} 

.main-items {
	clear:both;
	font-size:0px;
	margin-bottom:45px;
}

.item-block {
	position:relative;
	font-size:1rem;
	display:inline-block;
	width:23.24%;
	vertical-align:top;
	box-sizing:border-box;
	margin-right:2.3%;
	margin-bottom:40px;
	text-align:center;
}


.item-block:nth-child(4n) {
	margin-right:0px;
}

.item-block::before {
	content:"";
	position:absolute;
	background:#ffffff;
	box-shadow:0 5px 10px 0 #000000;
	display:none;
	left:-7px;
	top:-5px;
	width:105%;
	height:130%;
	border-radius:5px;
	opacity: 0.3;
	z-index: 50;
}

.item-block:hover::before {
	display:block;
}

.item-price {
	position:absolute;
	font-size:45px;
	line-height:45px;
	bottom:23px;
	left:2px;
	text-shadow:1px 1px 3px #7f7f7f;
}

.item-price + a {
	position:relative;
	display:inline-block;
	z-index:150;
	font-weight:500;
	font-size:16px;
	line-height:20px;
	margin-top:11px;
	text-decoration:underline;
}

.item-price span {
	font-size:30px;
	line-height:30px;
}

.item-price p {
	display:inline-block;
}

.item-price p::after {
	display:inline-block;
	content:"";
	width:35px;
	height:42px;
	vertical-align:top;
	background:url(../img/common_logo_rouble-1.svg) no-repeat ;
	background-position:bottom;
}

.item-button {
  position: absolute;
  left: 50%;
  transform: translateX(-96px);
  min-width: 192px;
  bottom: -20%;
  padding: 10px 0px;
	display:none;
  font-size: 15px;
}

.item-block:hover .item-button {
	display: inline-block;
	z-index:100;
}

.item-block:hover a:first-of-type {
	text-decoration:none;
}

.paginator {
	float:right;
	font-size:0px;
	margin-bottom:35px;
}

.paginator li {
	display:inline-block;
	vertical-align:top;
	font-size:17px;
	font-weight:500;
	margin:0 1px 0 2px;
}

.paginator li:first-child a  {
	background:url(../img/catalog_paginator_arrow.png) no-repeat;
	background-position:left;
	opacity:0.3;
	transform:rotate(180deg);
	margin-right:15px;
	height:20px;
}

.paginator li:last-child a  {
	background:url(../img/catalog_paginator_arrow.png) no-repeat;
	background-position:left;
	margin-left:15px;
	margin-right:0px;
	padding-right:0px;
	height:20px;
}

.paginator a {
	display:inline-block;
	text-decoration:none;
	padding:3px 8px 3px 8px;
}

.paginator .page-current {
	cursor:default;
	background-color:#ffffff;
	border-radius:50%;
}

.paginator .page-inactive {
	cursor:default;
}

.page-current a {
	color:#000000;
	cursor:default;
}

.paginator a:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius:50%;
}

.catalog-footer {
	border-top:1px solid rgba(255,255,255, .3);
}

.catalog-footer {
	padding-top:0px;
}

.catalog-footer .footer-copyright {
	padding-top:0px;
	margin-top:20px;
}

.catalog-footer .footer-social {
	padding-top:0px;
	margin-top:20px;
}

.catalog-footer .footer-info {
	padding-top:0px;
	margin-top:15px;
}


.window-modal {
	position: fixed;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	z-index:1000;
	background-color: rgba(0, 0, 0, 0.4);
}

.window-modal .modal-feedbackform {
	position:absolute;
	padding:20px 25px 25px;
	background-color: rgba(255, 255, 255, 1);
	border-radius:20px;
	color:#000000;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.modal-feedbackform h2{
	font-family: "Roboto Regular", "Roboto Medium", "Arial", "Tahoma";
	font-weight:normal;
	margin-bottom:22px;
	margin-top:0px;
}

.modal-feedbackform .modal-exit {
	position:absolute;
	width:28px;
	height:28px;
	background-color: rgba(255, 255, 255, 1);
	right:15px;
	top:15px;
	border:0;
	outline:0;
	cursor:pointer;
}

.modal-feedbackform .modal-exit::before,
.modal-feedbackform .modal-exit::after {
	position:absolute;
	content:"";
	width:25px;
	height:3px;
	background:#000000;
	left: 2px;
  bottom: 12px;
	border-radius:1px;
}

.modal-feedbackform .modal-exit::before {
	transform:rotate(45deg);
}

.modal-feedbackform .modal-exit::after {
	transform:rotate(-45deg);
}

.modal-feedbackform input {
	display:block;
	padding:15px;
	margin-bottom:22px;
	width:236px;
	border:1px solid #d3d3d2;
	border-radius:5px;
}

.modal-feedbackform textarea {
	padding:15px;
	border-radius:5px;
	color:#9b9b9b;
	font-family:inherit;
	font-size:16px;
	font-weight:normal;
	margin-bottom:22px;
	resize: none;
}

.modal-feedbackform textarea:hover {
	border:2px solid #9a9a9a;
}


.modal-feedbackform textarea:focus {
	border:2px solid #8fbdec;
}

.modal-feedbackform textarea:valid {
	border:1px solid #9a9a9a;
	font-weight:bold;
	color:#000000;
}

.modal-feedbackform textarea + label {
	position:absolute;
	font-size:16px;
	line-height:20px;
	color:#9a9a9a;
	bottom:250px;
	left:35px;
}

.modal-feedbackform textarea:focus + label {
	font-size:14px;
	line-height:20px;
	color:#8fbdec;
	bottom:280px;
}

.modal-feedbackform textarea:valid + label {
	font-size:14px;
	line-height:20px;
	color:#9a9a9a;
	bottom:280px;
}

.modal-button {
	border:0;
	outline:0;
	margin-left:auto;
	font-family:inherit;
	font-size:16px;
	padding:13px 26px ;
}

.modal-inputblock {
	position:relative;
}

.modal-inputblock input  {
	font-size:16px;
	line-height:20px;
	border:1px solid #9a9a9a;
}

.modal-inputblock input + label {
	position:absolute;
	font-size:16px;
	line-height:20px;
	color:#9a9a9a;
	top:15px;
	left:10px;
}

.modal-inputblock input:hover {
	border:2px solid #9a9a9a;
}

.modal-inputblock input:focus {
	border:2px solid #8fbdec;
}

.modal-inputblock input:focus + label {
	position:absolute;
	font-size:13px;
	line-height:17px;
	color:#8fbdec;
	top:-17px;
	left:10px;
}

.modal-inputblock input:valid {
	border:1px solid #9a9a9a;
	color:#000000;
	font-weight:bold;
	font-family:"Roboto Bold", "Arial", sans-serif;
}

.modal-inputblock input:valid + label {
	position:absolute;
	font-size:13px;
	line-height:17px;
	color:#9a9a9a;
	top:-17px;
	left:10px;
}

input[type="email"],
input[type="text"],
input[type="search"],
input[type="password"],
textarea {
	outline:0;
}





